/*******************************
 * GENERAL STYLES
 *******************************/

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

tbody {
	vertical-align: middle;
}

tr, td, th {
	vertical-align: inherit;
}

pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}

input, textarea, select {
	border: 1px solid #999;
	padding: 4px;
}

input[type=text][disabled], input[type=password][disabled], textarea[disabled], select[disabled] {
	background-color: #f1f1f1;
	cursor: default;
}

input[type=button], input[type=submit], button {
	cursor: pointer;
	/* border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; */
	outline: none;
}

select {
	-webkit-appearance: none; -moz-appearance: none;
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	padding: 4px;
}

label {
	border: 1px solid transparent; /* To easy positions labels near inputs */
}

a, .link {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

a:hover, .link:hover,
a:active, .link:active {
	text-decoration: underline;
}

img {
	border: none; /* Mozilla Firefox */
}

.hidden {
	display: none !important;
}

li {
    list-style-type: none;
}

/*******************************
 * GENERAL LAYOUT
 *******************************/

#general-wrapper {
	position: relative;
	max-width: 960px;
	margin: 0px auto;
	min-height: 420px;
	left: 0px;
	right: 0px;
}

#header {
	position: relative;
	box-sizing: border-box;
	top: 0px; 
	height: 80px;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px;
}

.header-font {
	font-size: 32px;
	font-weight: bold;
	color: #555;
}

.page-title {
	position: absolute;
	margin: auto 1em;
	top: 0px;
	bottom: 0px;
	height: 1.2em;
}

.my-profile-picture {
	float: right;
}

.my-profile-picture img {
	display: block;
	border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px;
}

.my-profile-name {
	position: absolute;
	margin: auto 100px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	height: 1.2em;
}

#body {
	width: 100%;
	box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
	padding: 0px 20px;
}

h1 {
	margin: 1em 0px 0.5em;
	font-size: 22px;
	font-weight: bold;
	color: #555;
}

.main-list {
	list-style-type: none;
	list-style-image: url(DotTriangleSmall.png);
	list-style-position: inside;
}

#footer {
	height: 40px;
	width: 100%;
	box-sizing: border-box;
	bottom: 0px; 
	border-top: 1px solid #999999;
	padding: 7px;
}

#footer .footer-text {
	font-size: 12px;
}

#footer-left-panel {
	float: left;
}

#footer-right-panel {
	float: right;
}
